node_modules
dist
dist-ssr
*.local
.env
.env.local
.verif

.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*
vite.log

.claude/settings.local.json

.vercel
.env*
